@currentPage: pop;
@border-radius: 8px;

.@{currentPage} {
  &-content-wrapper {
    padding-top: 60px;
    text-align: center;
  }

  &-content-text {
    margin-top: 2vh;
    color: black;
    font-size: 24px;
    line-height: 28px;
  }

  &-content-button {
    &-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
