
  .info-block-title{
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 0px
  }
  .info-block-desc{
    padding-left: 40px;
    margin-top: 0px;
  }



.row{
  height: 60%;
}

// .ant-modal{
//   width: 720px;
//   text-align: center;
// }
// .ant-modal-content{
//   width: 720px;
//   height: 500px;
// }
 .card-avatar-wrapper {

   &-check{
     display: flex;
     padding-left: 40px;
     padding-top: 60px;
   }
   &-smile{
     display: flex;
     padding-left: 40px;
     padding-top: 20px;
   }
 }
//
// .card-avatar-text {
//   font-size: 12px;
//   color: black;
//   margin-block-start: 0;
//   margin-block-end: 0;
//   margin-left: 15px;
// }



.onBoard-button{
  border-radius: 10px;
  width: 90px;
  margin-left: 40px;
  position: absolute;
  bottom: 40px;
}
